<div class="contact-container">
    <form class="contact-form" action="https://formsubmit.co/andresfelipeuribe11@gmail.com" method="POST">
        <div class="form-group">
            <label for="nombre">{{ 'contact.name' | translate }}</label>
            <input type="text" id="nombre" name="nombre" required [placeholder]="'contact.name' | translate">
        </div>
        <div class="form-group">
            <label for="apellido">{{ 'contact.lastName' | translate }}</label>
            <input type="text" id="apellido" name="apellido" required [placeholder]="'contact.lastName' | translate">
        </div>
        <div class="form-group">
            <label for="empresa">{{ 'contact.company' | translate }}</label>
            <input type="text" id="empresa" name="empresa" [placeholder]="'contact.company' | translate">
        </div>
        <div class="form-group">
            <label for="email">{{ 'contact.email' | translate }}</label>
            <input type="email" id="email" name="email" required [placeholder]="'contact.email' | translate">
        </div>
        <div class="form-group">
            <label for="telefono">{{ 'contact.phone' | translate }}</label>
            <div class="phone-input">
                <span class="country-code">+57</span>
                <input type="tel" id="telefono" name="telefono" required [placeholder]="'contact.phone' | translate">
            </div>
        </div>
        <div class="form-group">
            <label for="mensaje">{{ 'contact.message' | translate }}</label>
            <textarea id="mensaje" name="mensaje" required [placeholder]="'contact.messagePlaceholder' | translate"
                maxlength="500"></textarea>
        </div>
        <div class="form-group checkbox">
            <input type="checkbox" id="politica" name="aceptoPolitica" required>
            <label for="politica">{{ 'contact.policy' | translate }}</label>
        </div>

        <input type="hidden" name="_next" value="https://lotuszaheer.github.io/#contact">
        <input type="hidden" name="_captcha" value="false">

        <button type="submit" class="btn btn-primary">{{ 'contact.send' | translate }}</button>
    </form>

    <div class="tech-category">
        <div class="tech-icons">
            @for (network of socialNetworks; track network.name) {
            <a class="tech-icon" [href]="network.url" target="_blank">
                <img [src]="network.iconPath" [alt]="network.name" class="tech-image">
                <span>{{ network.nick }}</span>
            </a>
            }
        </div>
    </div>
</div>