@use "sass:color";

// Sistema Tipográfico
$font-sizes: (
    'xs': 0.7rem,
    // 11.2px
    'sm': 0.8rem,
    // 12.8px
    'base': 1rem,
    // 16px
    'md': 1.1rem,
    // 17.6px
    'lg': 1.2rem,
    // 19.2px
    'xl': 1.5rem,
    // 24px
    '2xl': 2rem,
    // 32px
    '3xl': 2.5rem,
    // 40px
    '4xl': 3rem,
    // 48px
    '5xl': 4rem,
    // 64px
    '6xl': 6rem // 96px
);

@mixin font-size($size) {
    font-size: map-get($font-sizes, $size);
}

// Colores principales (Acentos)
$primary-color: #0F5FA6;
$secondary-color: #0A8CBF;
$accent-color: #04B2D9;
$highlight-color: #F21905;
$sub-highlight-color: #F23827;

// Colores de fondo
$background-dark: #000; // Fondo principal
$background-dark-75: #000000C0; // Fondo principal
$background-card: #1A1A1A; // Fondo de tarjetas
$background-card-50: #1A1A1A80; // Fondo de tarjetas
$background-light: color.adjust($background-dark, $lightness: 5.5%);
$background-card-light: color.adjust($background-card, $lightness: 5.5%);

// Colores de texto
$text-primary: #FFFFFF; // Texto principal
$text-secondary: #C6C6C6; // Texto auxiliar

// Gradientes
$gradient-primary: linear-gradient(90deg, $primary-color, $accent-color, $secondary-color, $primary-color);
$gradient-highlight: linear-gradient(90deg, $sub-highlight-color, $highlight-color, $sub-highlight-color);

// Sombras
$shadow-card: 0 4px 15px rgba(0, 0, 0, 0.2);
$shadow-card-hover: 0 8px 25px rgba(0, 0, 0, 0.3);

// Bordes
$border-radius: 4px;
$border-radius-card: 8px;