<main>
    <section id="about" class="type1">
        <div class="container">
            <div class="type1-content">
                <h1>¡Hola! Soy <span class="text-gradient">Andrés Uribe</span></h1>
                <h2>Desarrollador Web</h2>
                <p class="type1-description">

                    Soy ingeniero de sistemas con experiencia en análisis de datos y desarrollo de software para
                    resolver
                    desafíos geoespaciales.
                    Con conocimientos en procesamiento de datos con Python, C++ y SQL, utilizando herramientas como
                    pandas,
                    numpy, scipy, or-tools, entre otras.
                    Con amplia experiencia en desarrollo web utilizando tecnologías como Angular, Node.js, FastAPI y
                    React.
                </p>
                <div class="type1-buttons">
                    <a href="#projects" class="btn btn-primary" (click)="scrollToSection('projects')">Ver
                        Proyectos</a>
                    <a href="#contact" class="btn btn-outline" (click)="scrollToSection('contact')">Contacto</a>
                </div>
            </div>
            <div class="type1-image">
                <div class="image-container">
                    <div class="profile-placeholder">
                        <img src="https://avatars.githubusercontent.com/u/53977185?v=4" alt="Andrés Uribe"
                            class="profile-image">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="skills" class="type2">
        <h2 class="section-title">Habilidades</h2>
        <div class="tech-stack">

            <div class="tech-category">
                <h3>Lenguajes</h3>
                <div class="tech-icons">
                    @for (lang of languages; track lang) {
                    <div class="tech-icon">
                        @if (getIcon(lang, languageIcons)) {
                        <img [src]="getIcon(lang, languageIcons)" [alt]="lang" class="tech-image">
                        }
                        <span>{{ lang }}</span>
                    </div>
                    }
                </div>
            </div>


            <div class="tech-category">
                <h3>Frameworks</h3>
                <div class="tech-icons">
                    @for (fw of frameworks; track fw) {
                    <div class="tech-icon">
                        @if (getIcon(fw, frameworkIcons)) {
                        <img [src]="getIcon(fw, frameworkIcons)" [alt]="fw" class="tech-image">
                        }
                        <span>{{ fw }}</span>
                    </div>
                    }
                </div>
            </div>

            <div class="tech-category">
                <h3>Markup y Estilos</h3>
                <div class="tech-icons">
                    @for (style of markupStyles; track style) {
                    <div class="tech-icon">
                        @if (getIcon(style, markupStyleIcons)) {
                        <img [src]="getIcon(style, markupStyleIcons)" [alt]="style" class="tech-image">
                        }
                        <span>{{ style }}</span>
                    </div>
                    }
                </div>
            </div>

            <div class="tech-category">
                <h3>Librerías</h3>
                <div class="tech-icons">
                    @for (lib of libraries; track lib) {
                    <div class="tech-icon">
                        @if (getIcon(lib, libraryIcons)) {
                        <img [src]="getIcon(lib, libraryIcons)" [alt]="lib" class="tech-image">
                        }
                        <span>{{ lib }}</span>
                    </div>
                    }
                </div>
            </div>

            <div class="tech-category">
                <h3>Plataformas</h3>
                <div class="tech-icons">
                    @for (plat of platforms; track plat) {
                    <div class="tech-icon">
                        @if (getIcon(plat, platformIcons)) {
                        <img [src]="getIcon(plat, platformIcons)" [alt]="plat" class="tech-image">
                        }
                        <span>{{ plat }}</span>
                    </div>
                    }
                </div>
            </div>

            <div class="tech-category">
                <h3>APIs</h3>
                <div class="tech-icons">
                    @for (api of apis; track api) {
                    <div class="tech-icon">
                        @if (getIcon(api, apiIcons)) {
                        <img [src]="getIcon(api, apiIcons)" [alt]="api" class="tech-image">
                        }
                        <span>{{ api }}</span>
                    </div>
                    }
                </div>
            </div>

        </div>
    </section>


    <section id="projects" class="type1">
        <h2 class="section-title">Proyectos</h2>
        <app-projects></app-projects>
    </section>

    <section id="contact" class="type2">
        <h2 class="section-title">Contacto</h2>
        <div class="contact-container">
            <form class="contact-form" action="https://formsubmit.co/andresfelipeuribe11@gmail.com" method="POST">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre" name="nombre" required placeholder="Tu nombre">
                </div>
                <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <input type="text" id="apellido" name="apellido" required placeholder="Tu apellido">
                </div>
                <div class="form-group">
                    <label for="empresa">Empresa</label>
                    <input type="text" id="empresa" name="empresa" placeholder="Nombre de tu empresa">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required placeholder="tu@email.com">
                </div>
                <div class="form-group">
                    <label for="telefono">Teléfono</label>
                    <div class="phone-input">
                        <span class="country-code">+57</span>
                        <input type="tel" id="telefono" name="telefono" required placeholder="3011234567">
                    </div>
                </div>
                <div class="form-group">
                    <label for="mensaje">Mensaje</label>
                    <textarea id="mensaje" name="mensaje" required placeholder="Tu mensaje" maxlength="500"></textarea>
                </div>
                <div class="form-group checkbox">
                    <input type="checkbox" id="politica" name="aceptoPolitica" required>
                    <label for="politica">Acepto la política de tratamiento de datos personales</label>
                </div>

                <!-- Opcionales para redirección o control -->
                <input type="hidden" name="_next" value="https://lotuszaheer.github.io/#contact">
                <input type="hidden" name="_captcha" value="false">

                <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
            </form>

            <div class="tech-category">
                <div class="tech-icons">
                    @for (network of socialNetworks; track network.name) {
                    <a class="tech-icon" [href]="network.url" target="_blank">
                        <img [src]="network.iconPath" [alt]="network.name" class="tech-image">
                        <span> {{ network.name }}</span>
                    </a>
                    }
                </div>
            </div>
        </div>
    </section>

</main>