<main>
    <section id="about" class="type1">
        <app-about></app-about>
    </section>

    <section id="skills" class="type2">
        <app-skills></app-skills>
    </section>

    <section id="projects" class="type1">
        <h2 class="section-title">{{ 'sections.projects' | translate }}</h2>
        <app-projects></app-projects>
    </section>

    <section id="contact" class="type2">
        <h2 class="section-title">{{ 'sections.contact' | translate }}</h2>
        <app-contact></app-contact>
    </section>
</main>