<div class="projects-list">
    @for (project of projects; track project.id) {
    <article class="project-card" [class.featured]="project.featured">
        <div class="project-image-container">
            <div class="project-image-carousel"
                [style.background]="!hasValidImage(project) ? getFallbackBackground(project) : 'none'">

                @if (hasValidImage(project)) {
                <img [src]="getCurrentImage(project)" [alt]="project.title" class="project-image">
                } @else {
                <div class="fallback-content">
                    <span class="project-initial">{{ project.title.charAt(0) }}</span>
                </div>
                }

                <div class="project-links">
                    @if (project.liveUrl) {
                    <a [href]="project.liveUrl" target="_blank" class="link-button">
                        {{ 'others.viewSite' | translate }}
                    </a>
                    }

                    @if (project.repoUrl) {
                    <a [href]="project.repoUrl" target="_blank" class="link-button">
                        {{ 'others.viewCode' | translate }}
                    </a>
                    }
                </div>

                <div class="carousel-progress">
                    <div class="progress-bar" [style.width.%]="getProgressWidth(project)"></div>
                </div>
            </div>
        </div>

        <div class="project-content">
            <h3 class="project-title">{{ project.title }}</h3>
            <p class="project-description">{{ project.description }}</p>

            <div class="project-details">


                <div class="detail-section" *ngIf="project.company">
                    <h4>{{ 'others.company' | translate }}</h4>
                    <a *ngIf="project.companyUrl; else noLink" [href]="project.companyUrl" target="_blank"
                        rel="noopener noreferrer">
                        {{ project.company }}
                    </a>
                    <ng-template #noLink>
                        <p>{{ project.company }}</p>
                    </ng-template>
                </div>


                <div class="detail-section">
                    <h4>{{ 'others.role' | translate }}</h4>
                    <p>{{ project.role }}</p>
                </div>

                <!-- Lenguajes -->
                <div class="detail-section">
                    <h4>{{ 'skills.languages' | translate }}</h4>
                    <div class="tags">
                        @for (lang of project.languages; track lang) {
                        <span class="tag">
                            @if (getIcon(lang, languageIcons)) {
                            <img [src]="getIcon(lang, languageIcons)" [alt]="lang" class="tech-icon">
                            }
                            {{ lang }}
                        </span>
                        }
                    </div>
                </div>

                <!-- Frameworks -->
                <div class="detail-section" *ngIf="project.frameworks?.length">
                    <h4>{{ 'skills.frameworks' | translate }}</h4>
                    <div class="tags">
                        @for (fw of project.frameworks; track fw) {
                        <span class="tag">
                            @if (getIcon(fw, frameworkIcons)) {
                            <img [src]="getIcon(fw, frameworkIcons)" [alt]="fw" class="tech-icon">
                            }
                            {{ fw }}
                        </span>
                        }
                    </div>
                </div>


                <!-- Marcas y estilos -->
                <div class="detail-section">
                    <h4>{{ 'skills.markupStyles' | translate }}</h4>
                    <div class="tags">
                        @for (style of project.markupStyles; track style) {
                        <span class="tag">
                            @if (getIcon(style, markupStyleIcons)) {
                            <img [src]="getIcon(style, markupStyleIcons)" [alt]="style" class="tech-icon">
                            }
                            {{ style }}
                        </span>
                        }
                    </div>
                </div>

                <!-- Librerías -->
                <div class="detail-section" *ngIf="project.libraries?.length">
                    <h4>{{ 'skills.libraries' | translate }}</h4>
                    <div class="tags">
                        @for (lib of project.libraries; track lib) {
                        <span class="tag">
                            @if (getIcon(lib, libraryIcons)) {
                            <img [src]="getIcon(lib, libraryIcons)" [alt]="lib" class="tech-icon">
                            }
                            {{ lib }}
                        </span>
                        }
                    </div>
                </div>

                <!-- Plataformas -->
                <div class="detail-section" *ngIf="project.platforms?.length">
                    <h4>{{ 'skills.platforms' | translate }}</h4>
                    <div class="tags">
                        @for (plat of project.platforms; track plat) {
                        <span class="tag">
                            @if (getIcon(plat, platformIcons)) {
                            <img [src]="getIcon(plat, platformIcons)" [alt]="plat" class="tech-icon">
                            }
                            {{ plat }}
                        </span>
                        }
                    </div>
                </div>

                <!-- APIs -->
                <div class="detail-section" *ngIf="project.apis?.length">
                    <h4>{{ 'skills.apis' | translate }}</h4>
                    <div class="tags">
                        @for (api of project.apis; track api) {
                        <span class="tag">
                            @if (getIcon(api, apiIcons)) {
                            <img [src]="getIcon(api, apiIcons)" [alt]="api" class="tech-icon">
                            }
                            {{ api }}
                        </span>
                        }
                    </div>
                </div>

            </div>
        </div>
    </article>
    }
</div>